<br>
<div class="row">
  <div class="col-md-6 battChart-container">
    <canvas id="battChart"></canvas>
  </div>
  <div class="col-md-6 intTempChart-container">
    <canvas id="intTempChart"></canvas>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-6 extTempChart-container">
    <canvas id="extTempChart"></canvas>
  </div>
</div>
