<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Latitude
    <span class="text" id="latitudeIndicator"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Longitude
    <span class="text" id="longitudeIndicator"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Command Voltage (V)
    <span class="text" id="cmdVoltageIndicator"></span>
  </li>
</ul>
