<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Internal Temp.
    <span class="text" id="intTempIndicator">&mdash;</span>
  </li>
</ul>
<div class="batteryGauge-container">
  <canvas id="batteryGauge" style="width: 100vw;"></canvas>
</div>
<br>
<div class="batteryChart-container">
  <canvas id="batteryChart"></canvas>
</div>
<br>
<div class="internalTempChart-container">
  <canvas id="internalTempChart"></canvas>
</div>
