<br>
<div class="row">
  <div class="col-md-6 altChart-container">
    <canvas id="altChart"></canvas>
  </div>
  <div class="col-md-6 vertVelChart-container">
    <canvas id="vertVelChart"></canvas>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-6 gndSpeedChart-container">
    <canvas id="gndSpeedChart"></canvas>
  </div>
  <div class="col-md-6 headingChart-container">
    <canvas id="headingChart"></canvas>
  </div>
</div>
