<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    Internal Temp. (&deg;C)
    <span class="text" id="intTempIndicator"></span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center" style="color: #fff;">
    External Temp. (&deg;C)
    <span class="text" id="extTempIndicator"></span>
  </li>
</ul>
