<div class="card text-white bg-secondary mb-3">
  <div class="card-body form-horizontal">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="enablePingCheck">
      <label class="form-check-label" for="enablePingCheck">
        Audio "ping" on update
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="trackMeCheck">
      <label class="form-check-label" for="trackMeCheck">
        Track my path
      </label>
    </div>
  </div>
</div>
