<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Mission Control</title>
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/slate/bootstrap.min.css" rel="stylesheet" integrity="sha384-T5/MPhcu5PtijW3XQzMbwUJshIZS5VzRn+lpMXRN8EnZpxBc8yDYiGkTj7pTWBXQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  {{#if usesDataTable}}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.2/b-html5-1.5.2/sl-1.2.6/datatables.min.css"/>
  {{/if}}
  {{#if usesDatePicker}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css">
  {{/if}}
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body>
  <div class="page-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h3>Mission Control &nbsp;
            <a href="/"><i class="fas fa-home"></i></a> &nbsp;
            {{#if flightDirectorOrAdmin}}
              <a href="/controlPanel"><i class="fas fa-cog"></i></a>
            {{/if}}
          </h3>
        </div>
        <div class="col-sm-6 align-self-center text-right">
          {{#if user}}
            {{user.username}} ({{user.role}}) &nbsp; <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
          {{else}}
            <a href="/login"><i class="fas fa-sign-in-alt"></i></a> &nbsp; <a href="/register"><i class="fas fa-user-plus"></i></a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        {{{body}}}
      </div>
    </div>
  </div>
  <footer class="footer">
    <div style="border-top: solid 1px #111; padding-top: 1em; margin-top: 1em">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="text-muted">Mission Control | &copy; Copyright 2018, John M. Larkin
            <br><small class="text-muted">A component of the <a href="http://habosc.whitworthnearspace.org">High Altitude Balloon Open Source Collection</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {{#if usesDataTable}}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.2/b-html5-1.5.2/sl-1.2.6/datatables.min.js"></script>
  {{/if}}
  {{#if usesDatePicker}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
  {{/if}}
  {{#if manageUsersJS}}
    <script type="text/javascript" src="/public/js/manageUsers.js"></script>
  {{/if}}
  {{#if createMissionJS}}
    <script type="text/javascript" src="/public/js/createMission.js"></script>
  {{/if}}
  {{#if manageMissionsJS}}
    <script type="text/javascript" src="/public/js/manageMissions.js"></script>
  {{/if}}
</body>
</html>
