<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">
      Login
    </h3>
  </div>

  <form method="post" action="/login">
    <div class="card-body form-horizontal">
      <div class="form-group col-md-12 row">
        <label class="col-sm-2 control-label" for="username">Username: </label>
        <div class="col-md-10">
          <input class="form-control" type="text" name="username">
        </div>
      </div>
      <div class="form-group col-md-12 row">
        <label class="col-sm-2 control-label" for="password">Password: </label>
        <div class="col-md-10">
          <input class="form-control" type="password" name="password">
        </div>
      </div>
      <div class="form-group col-md-12">
        <div class="col-md-12 text-right">
          <button type="submit" class="btn btn-primary" type="button">
            <i class="fas fa-user-plus"> Register</i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
