html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footer {
  margin-top: auto;
  flex-shrink: 0;
}
.table-hover .table-active:hover {
  background-color: rgba(0,0,255,0.1);
}
.table-hover tbody tr:hover {
  background-color: rgba(0,0,255,0.1);
}
