html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.footer {
  margin-top: auto;
  flex-shrink: 0;
}
.table-hover .table-active:hover {
  background-color: rgba(0,0,255,0.1);
}
.table-hover tbody tr:hover {
  background-color: rgba(0,0,255,0.1);
}

.list-group-item:hover, .list-group-item:focus {
  background-color: #005A78; /*   #005A78 or #5bc0de; */
}

.list-group-item-success {
  background-color: #62c462;
}

.list-group-item-success:hover, .list-group-item-success:focus {
  background-color: #62c462;
}

.list-group-item-danger {
  background-color: #ee5f5b;
}

.list-group-item-danger:hover, .list-group-item-danger:focus {
  background-color: #ee5f5b;
}

.list-group-item-info {
  background-color: #5bc0de;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #fff;
  background-color: #54595E;
  border-color: rgba(0, 0, 0, 0.6);
}
