<div class="container-fluid" style="padding:0; margin:0">
  <div class="row">
    <div class="col-md-9">
      <div id="map" style="width:100%; height: 95vh;"></div>
    </div>
    <div class="col-md-3">
      <h5>Mission {{missionID}}</h5>
      <ul class="nav nav-tabs" id="trackTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="tracking-tab" data-toggle="tab"
             href="#tracking" role="tab" aria-controls="tracking"
             aria-selected="true">Track
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="command-tab" data-toggle="tab"
              href="#command" role="tab" aria-controls="command"
              aria-selected="false">Cmd Mod
          </a>
        </li>
      </ul>
      <div class="tab-content" id="trackTabContent">
        <div class="tab-pane fade show active" id="tracking" role="tabpanel" aria-labelledby="tracking-tab">
          {{>trackingTab}}
        </div>
        <div class="tab-pane fade" id="command" role="tabpanel" aria-labelledby="command-tab">
          {{>commandModuleTab}}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const missionID = {{missionID}};
  const pastPath = {{{json pastPath}}};
</script>
